# SPDX-FileCopyrightText: 2026 Brando Giuffrida
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Type=Application
Name=Settings
Name[it]=Impostazioni
GenericName=System Settings
GenericName[it]=Impostazioni di sistema
Comment=Displays, sound, network, Bluetooth, background, colors, apps and more
Comment[it]=Schermi, audio, rete, Bluetooth, sfondo, colori, app e altro
Exec=vela-settings
Icon=preferences-system
Categories=Settings;System;
Keywords=settings;display;background;theme;keyboard;network;bluetooth;sound;language;
Keywords[it]=impostazioni;schermo;sfondo;tema;tastiera;rete;bluetooth;audio;lingua;settings;
OnlyShowIn=Vela;
StartupNotify=true
