# SPDX-FileCopyrightText: 2026 Brando Giuffrida
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Type=Application
Name=File Explorer
Name[it]=Esplora file
GenericName=File Manager
GenericName[it]=Gestore di file
Comment=Browse and organize files and folders
Comment[it]=Sfoglia e organizza file e cartelle
Exec=vela-files %U
Icon=system-file-manager
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
Keywords=files;folders;explorer;browse;
Keywords[it]=file;cartelle;esplora;explorer;
StartupNotify=true
